*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.sbr
obj/
[Rr]elease*/
_ReSharper*/


_UpgradeReport_Files/UpgradeReport.css
_UpgradeReport_Files/UpgradeReport.xslt
_UpgradeReport_Files/UpgradeReport_Minus.gif
_UpgradeReport_Files/UpgradeReport_Plus.gif
UpgradeLog.XML
UpgradeLog2.XML
